In [2]:
!pip install -U "huggingface_hub"

Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.12/dist-packages (0.36.0)
Collecting huggingface_hub
  Downloading huggingface_hub-1.3.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (3.20.2)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (2025.3.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (1.2.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (0.28.1)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (6.0.3)
Requirement already satisfied: shellingham in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (1.5.4)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (4.67.1)
Requirement already satisfied: typer-slim in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (0.21.1)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.12/dist-packages (from huggingface_hub) (4.15.0)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->huggingface_hub) (4.12.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->huggingface_hub) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->huggingface_hub) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->huggingface_hub) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->huggingface_hub) (0.16.0)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.12/dist-packages (from typer-slim->huggingface_hub) (8.3.1)
Downloading huggingface_hub-1.3.2-py3-none-any.whl (534 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 534.5/534.5 kB 20.0 MB/s eta 0:00:00
Installing collected packages: huggingface_hub
  Attempting uninstall: huggingface_hub
    Found existing installation: huggingface-hub 0.36.0
    Uninstalling huggingface-hub-0.36.0:
      Successfully uninstalled huggingface-hub-0.36.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
transformers 4.57.3 requires huggingface-hub<1.0,>=0.34.0, but you have huggingface-hub 1.3.2 which is incompatible.
Successfully installed huggingface_hub-1.3.2

In [1]:
!hf auth login

    _|    _|  _|    _|    _|_|_|    _|_|_|  _|_|_|  _|      _|    _|_|_|      _|_|_|_|    _|_|      _|_|_|  _|_|_|_|
    _|    _|  _|    _|  _|        _|          _|    _|_|    _|  _|            _|        _|    _|  _|        _|
    _|_|_|_|  _|    _|  _|  _|_|  _|  _|_|    _|    _|  _|  _|  _|  _|_|      _|_|_|    _|_|_|_|  _|        _|_|_|
    _|    _|  _|    _|  _|    _|  _|    _|    _|    _|    _|_|  _|    _|      _|        _|    _|  _|        _|
    _|    _|    _|_|      _|_|_|    _|_|_|  _|_|_|  _|      _|    _|_|_|      _|        _|    _|    _|_|_|  _|_|_|_|

    To log in, `huggingface_hub` requires a token generated from https://huggingface.co/settings/tokens .
Enter your token (input will not be visible):
Add token as git credential? [y/N]: y
Token is valid (permission: read).
The token `ReadToken1` has been saved to /root/.cache/huggingface/stored_tokens
Cannot authenticate through git-credential as no helper is defined on your machine.
You might have to re-authenticate when pushing to the Hugging Face Hub.
Run the following command in your terminal in case you want to set the 'store' credential helper as default.

git config --global credential.helper store

Read https://git-scm.com/book/en/v2/Git-Tools-Credential-Storage for more details.
Token has not been saved to git credential helper.
Your token has been saved to /root/.cache/huggingface/token
Login successful.
The current active token is: `ReadToken1`

In [145]:
import pandas as pd

# Login using e.g. `huggingface-cli login` to access this dataset
df = pd.read_parquet("hf://datasets/mitulshah/transaction-categorization/default/train/0000.parquet")

In [146]:
df.head()

  transaction_description              category    country currency
0                    Wage                Income        USA      USD
1    Arby's (Contactless)         Food & Dining  AUSTRALIA      AUD
2    Occupational Therapy  Healthcare & Medical        USA      USD
3   Potbelly Store Branch         Food & Dining         UK      GBP
4      Amazon - AUSTRALIA     Shopping & Retail  AUSTRALIA      AUD

In [147]:
df.isnull().sum()

transaction_description    0
category                   0
country                    0
currency                   0
dtype: int64

In [148]:
df_required = df.drop(["country", "currency"], axis=1)

In [149]:
df_required.head(5)

  transaction_description              category
0                    Wage                Income
1    Arby's (Contactless)         Food & Dining
2    Occupational Therapy  Healthcare & Medical
3   Potbelly Store Branch         Food & Dining
4      Amazon - AUSTRALIA     Shopping & Retail

In [150]:
df_required.rename(columns={"transaction_description": "purpose_text", "category": "transaction_type"}, inplace=True)

In [151]:
df_required.head(5)

            purpose_text      transaction_type
0                   Wage                Income
1   Arby's (Contactless)         Food & Dining
2   Occupational Therapy  Healthcare & Medical
3  Potbelly Store Branch         Food & Dining
4     Amazon - AUSTRALIA     Shopping & Retail

In [152]:
transaction_types = df_required['transaction_type'].unique()

print("Labels:", transaction_types)
print("Number of labels:", len(transaction_types))

Labels: ['Income' 'Food & Dining' 'Healthcare & Medical' 'Shopping & Retail'
 'Utilities & Services' 'Entertainment & Recreation' 'Financial Services'
 'Charity & Donations' 'Transportation' 'Government & Legal']
Number of labels: 10

# Text preprocessing

In [153]:
df_required = df_required[:4000]

### Step1 - lowercase the text

In [154]:
df_required["purpose_text"] = df_required["purpose_text"].str.lower()

### Step2 - remove unnecessary symbols

In [155]:
import re

# 1. r'\(.*?\)' : Matches anything inside (brackets)
# 2. r'online'  : Matches the literal word "online"
# 3. r'[\',!\?#\-&@%\^]' : Matches any single character in this set


pattern = r'\(.*?\)|online|[\',!\?#\-&@%\^]'

df_required['purpose_text'] = df_required['purpose_text'].str.replace(pattern, '', regex=True)

# 4. r'\s+' : Remove whitespace when there are two or more

df_required['purpose_text'] = df_required['purpose_text'].str.replace(r'\s+', ' ', regex=True).str.strip()

### Step3. Let's remove numbers from the string, which are not income label.

In [156]:
pattern = r'[0-9]+'

df_required.loc[df_required['transaction_type'] != 'Income', 'purpose_text'] = df_required.loc[df_required['transaction_type'] != 'Income', 'purpose_text'].str.replace(pattern, '', regex=True)

In [157]:
df_required.head(10)

                  purpose_text      transaction_type
0                         wage                Income
1                        arbys         Food & Dining
2         occupational therapy  Healthcare & Medical
3        potbelly store branch         Food & Dining
4             amazon australia     Shopping & Retail
5                  dairy queen         Food & Dining
6  ucla medical  uk center txn  Healthcare & Medical
7                   walgreens   Healthcare & Medical
8                     starlink  Utilities & Services
9                          cox  Utilities & Services

In [158]:
df_required.to_csv("findata_processed.csv", index=False)